<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'HAllo!</h1>
    
    <input type="text" class="input-medium search-query" ng-model="searchText">
    
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="http://image.tmdb.org/t/p/w500/{{ awesomeThing.poster_path }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <h4>{{ awesomeThing.popularity}}</h4>
          <p>{{ awesomeThing.overview}}</p>
          <h4>{{ awesomeThing.vote_average}}</h4>
          <!--<p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>-->
        </div>
      </div>
    </div>
  </div>

</div>
